<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Website EJS by DezkrazzeR</title>
    <link rel="icon" href="/assets/dezkrazzer_logo.png" type="image/png" />

    <meta property="og:title" content="Website EJS by DezkrazzeR" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://lzuardiai.my.id" />
    <meta property="og:image" content="/assets/dezkrazzer_logo.png" />
    <meta property="og:description" content="A website template using EJS and express." />
    <meta name="theme-color" content="#7289da" />
</head>
<body>
    
</body>
</html>